.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 21.84px 0;
    align-items:center;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px; 
}
.icon ul{
     display: flex;
    flex-wrap: wrap;
    gap: 24px; 
}

.collections{
     display: flex;
    flex-wrap: wrap;
    gap:30px;
    text-align: center;

}
.collection{
    width :calc( ( 100% - 90px ) / 4 );
}
.collection img{
    width: 100%;
}
.collection h2{
    margin-top: 23px;
}